body
{
    font-family: Arial, sans-serif;
    font-size: 18px;
   
}

h1{
    text-align: center;
    color: #500000;
    font-size: 75px;
    text-shadow: 2px 2px;
}

table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 200px;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    display: table;
    padding: 8px 8px 8px 8px;
    background-color: white;
}

th
{
    color: #2336ac;
}

div.buttonbox
{
    width: 40%;
    color: white;
    /*background-color: #717171;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px 8px 8px 8px
}

div.textupdates
{
    width: 600px;
    height: 60px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px 8px 8px 8px;
    font-weight: bold;
    /*font-size: larger;*/
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.cool
{
    background-color: #ff0000
}

.hot
{
    background-color: #2336ac
}

.hidden
{
    visibility: hidden
}

.blackcard
{
    font-weight: bold;      
}

.bold
{
    font-weight: bold;
}

.redcard
{
    color: red;
    font-weight: bold;   
}

li
{
    list-style-type: none;
    
}

button
{
    font-size: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2px solid #000000; /* black */    
    font-weight: bold;
    border-radius: 6px;
}

button#newgame
{
    background-color: green;
    width: 140px;
}


button#hit
{
    background-color: green;
    width: 70px;
}

button#stay
{
    background-color: red;
    width: 70px;
}

#tracker
{   
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}

img {
    padding: 5px;
    height : 250px;
    width : 155px;
  }

.ImageBorder{
    border: 5px solid #000000;
}
img2 {
    float: right;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 8%;
    padding: 5px;
    opacity: 1;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
.topRight {
    vertical-align:top;
    float: right;
}
  .container {
    display: grid;
    grid-template-columns:20% 20% 20%;
    align-items: center;
  
  }